.container {
  margin: auto;
  width: 600px;
}


.articleTitle {
  cursor: pointer;
}

.author{
  padding-left: 8px;
  color:rgba(26, 137, 23, 1);
}

.date{
  color: #6c757d;
  font-size: 15px;
  padding-top: 2px;
  padding-left: 8px;
}

.articlesContent {
  font-size: 16px;
  max-width: 600px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* kaç satırla sınırlayacağımızı yazıyoruz */
  -webkit-box-orient: vertical;
}

.articlesImg img {
  width: 100%;
  max-width: 585px;
  height: auto;
  margin-bottom: 0.3em;
}

.detail {
  color: rgba(26, 137, 23, 1);
  cursor: pointer;
}

@media screen and (max-width: 677px) and (min-width: 130px) {
  .articlesImg img {
    width: 100%;
    max-width: 450px;
    height: auto;
  }
  .articlesContent p {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  .headerTitle {
    width: 100%;
    max-width: 470px;
    height: auto;
  }
  .container {
    margin: auto;
    width: 400px;
  }
}

@media screen and (max-width: 486px) and (min-width: 458px) {
  .articlesImg img {
    width: 100%;
    max-width: 350px;
    height: auto;
  }
  .articlesContent  {
    width: 100%;
    max-width: 340px;
    height: auto;
  }
  .headerTitle {
    width: 100%;
    max-width: 340px;
    height: auto;
  }
  .articleTitle{
    width: 100%;
    max-width: 340px;
    height: auto;
  }
  .container {
    margin: auto;
    width: 400px;
  }
}

@media screen and (max-width: 459px) {
  .container {
    margin: auto;
    width: 350px;
  }

  .articleTitle h2{
    font-size: 22px;
  }

  .articlesImg img {
    width: 100%;
    max-width: 350px;
    height: auto;
  }
  .articlesContent  {
    width: 100%;
    max-width: 350px;
    height: auto;
  }
}

@media screen and (max-width: 394px) {
  .container {
    margin: auto;
    width: 300px;
  }
  .articlesImg img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  .articlesContent  {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  .articleTitle h2{
    font-size: 18px;
  }
}

@media screen and (max-width: 318px) {
  .container {
    margin: auto;
    width: 270px;
  }
}