.container {
  margin: auto;
  width: 600px;
}

.articleTitle {
  cursor: pointer;
}

.author{
  padding-left: 8px;
  color:rgba(26, 137, 23, 1);
}

.date{
  color: #6c757d;
  padding-left: 8px;
}

.articlesContent {
  font-size: 16px;
  max-width: 600px;
  display: block;/* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height:6em;
  line-height: 1em;
}

.detail {
  color: rgba(26, 137, 23, 1);
  cursor: pointer;
}

@media screen and (max-width: 768px){
  .container {
    margin: auto;
    width: 350px;
  }
  .articlesContent p {
    width: 100%;
    max-width: 480px;
    height: auto;
  }
  .articlesDetail{
    margin:auto;
    width: 340px;
  }
}

