.projectHeader{
  background-color: #EDF7FA;
}

.projectTitle > a {
  color: black;
  text-decoration: none;
}

.projectContent > p {
  font-size: 18px;
}

.projectMore {
  text-decoration: none;
  color: black;
}

.projectHr {
  width: 10em;
}
