.projectTitle > a{
    color:black;
    text-decoration: none;
}

.projectContent > p{
    color: #555572;
    font-size:18px;
}

.projectMore{
    text-decoration: none;
    color:black;
}

.projectHr{
    width: 10em;
}