.container{
    margin: auto;
    width: 600px;
}

.author{
    color:rgba(26, 137, 23, 1);
    cursor: pointer;
}

.date{
    color:rgba(117, 117, 117, 1);
}

.articleMarkDown h3{
    margin-bottom: 0.5em;
}
.articleMarkDown h4{
    margin-bottom: 0.5em;
}
.articleMarkDown h2{
    margin-bottom: 0.5em;
}

.articleMarkDown img{
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 0.3em;
}

.caption{
    color:rgba(117, 117, 117, 1);
    font-size: 16px;
    font-family: 'adobe-clean, sans-serif, arial';
    margin-top: 3px;
}

.articleMarkDown p{
    margin-bottom: 1em;
    font-size: 18px;
    
}

@media screen and (max-width: 677px) and (min-width: 130px){
    .container{
        margin: auto;
        width: 400px;
    }
    .articleMarkDown img{
        width: 100%;
        max-width: 470px;
        height: auto;
    }
    .articleMarkDown p{
        width: 100%;
        max-width: 470px;
        height: auto;
    }
    .articleImg{
        width: 100%;
        max-width: 470px;
        height: auto;
    }
}

@media screen and (max-width: 422px){
    .container{
        margin: auto;
        width: 350px;
    }
}

@media screen and (max-width: 376px){
    .container{
        margin: auto;
        width: 300px;
    }
}