.skillsItem{
    width: 230px;
    height: 70px;
    border: 1px solid #3d3d50;
    box-sizing: border-box;
    margin:10px;
    margin-left: 6em;
    align-items: center;
    border-radius: 8px;
}


@media screen and (max-width: 1370px) and (min-width: 100px){
    .skillsItem{
        margin-left: 8em;
        margin:2px;
    }
    .skillsCol{
        display: flex;
        justify-content: center;
    }
}

