.articleTitle h3 {
  color: #21243d;
  cursor: pointer;
}

.image {
  width: 350px;
  height: 220px;
  margin-bottom: 1em;
}

.articleTitle p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* kaç satırla sınırlayacağımızı yazıyoruz */
  -webkit-box-orient: vertical;
}

.articleDate {
  width: 62px;
  height: 25px;
  color: white;
  border: 1px solid;
  background-color: #142850;
  text-align: center;
}

.articleSubject {
  color: #8695a4;
}

.moreArticle {
  cursor: pointer;
}


@media screen and (max-width: 376px) {
  .image {
    width: 350px;
    height: 200px;
  }
  .articleTitle h3{
    font-size: 22.7px;
  
  }
}

@media screen and (max-width:414px) and (min-width:377px){
  .image{
    width: 380px;
    height: 230px;
  }
  .articleTitle h3{
    font-size: 25px;
  }
}

@media screen and (max-width: 699px) and (min-width: 471px) {
  .image {
    width: 450px;
    height: 230px;
  }
}


@media screen and (max-width: 991px) and (min-width: 701px) {
  .image {
    width: 330px;
    height: 200px;
  }
  .articleTitle p {
    -webkit-line-clamp: 3; /* kaç satırla sınırlayacağımızı yazıyoruz */
  }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
  .image {
    width: 300px;
    height: 210px;
  }
}
